﻿@model MVCCrudWithoutEF.Models.BookViewModel

@{
    ViewData["Title"] = "Delete";
    var bookDelete = ViewBag.Data;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p><strong>Title</strong></p> 
        </dt>
        <dd class="col-sm-10">
            <p>@bookDelete.Title</p>
        </dd>
        <dt class="col-sm-2">
            <p><strong>Author</strong></p>
        </dt>
        <dd class="col-sm-10">
            <p>@bookDelete.Author</p>
        </dd>
        <dt class="col-sm-2">
            <p><strong>Price</strong></p>
        </dt>
        <dd class="col-sm-10">
            <p>@bookDelete.Price</p>
        </dd>
    </dl>

    <form asp-action="DeleteBook" asp-route-id="@bookDelete.BookID">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
