﻿@model IEnumerable<MVCCrudWithoutEF.Models.BookViewModel>

@{
    ViewData["Title"] = "List of Books";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<form asp-controller="Movies" asp-action="Index" method="get">
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Books Title</th>
            <th>Author</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
            {
                <tr>
                    <td>
                        @book.Title
                    </td>
                    <td>
                        @book.Author
                    </td>
                    <td>
                        @book.Price
                    </td>
                    <td>
                        <a asp-action="Edit"  asp-route-id="@book.BookID">Edit</a> | 
                        <a asp-action="Delete" asp-route-id="@book.BookID">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
